<!DOCTYPE html>
<html ng-app="CardGen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arch-card Generator</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="CardGen">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="js/CardGen.js"></script>
<header>
    <md-toolbar ng-if="true">
        <div class="md-toolbar-tools">
            <h3>Card Generator</h3>
        </div>
    </md-toolbar>
</header>
<main ng-controller="PicInfo as pic">
    <div class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-input-container>
                    <label>Name...</label>
                    <input ng-model="Name"/>
                </md-input-container>
                <md-input-container>
                    <label>Role...</label>
                    <input ng-model="Role"/>
                </md-input-container>
                <div>
                    <input name="file" type="file" id="fileElem" style="display: none" accept="image/*"
                           onchange="angular.element(this).scope().handleFiles(this.files)"/>
                    <md-button id="fileSelect" class="md-fab" ng-click="Listener($event)" ng-disabled="false"
                               aria-label="Pic">
                        <md-icon><i class="material-icons">account_box</i></md-icon>
                    </md-button>
                </div>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <ng-include src="'template.svg'"></ng-include>
            </md-card>
        </div>
    </div>
</main>
</body>
</html>
